*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main
{
    height: 100vh;
    position: relative;
}
.sudokuSetup
{
    text-align: center;
    /* background-color: aqua; */
    /* padding:0.2%; */
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:   1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border:5px solid black;

}
.btnDiv 
{
    text-align: center;
    position: absolute;
    bottom:6%;
    left:45%;
    right:45%;
    height: 5%;
}
.btnDiv button
{
    width:100%;
    height: 100%;
    padding: 7px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    border: none;

    
}
.element
{
    border:1px solid black;
    
}
.element input
{
    width: 100%;
    height: 100%;
    text-align:center ;
    font-size: 2.5rem;
    border:none;
}
.borderleft
{
    border-left:5px solid black;
    
}
.bordertop
{
    
    border-top: 5px solid black;
    
}
.borderleft1
{
    border-left:3px solid black;
    
}
.bordertop1
{
    
    border-top: 3px solid black;
    
}
/*  CSS For Design StartUp Page*/
.Startup
{
    position: absolute;
    left:30%;
    right: 30%;
    top: 2%;
    bottom: 7%;
    background-color: burlywood;
    border-radius: 2rem;
    background: #d53369;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 display: grid;

 grid-template-rows:15% 35% 1fr ;

}
button
{
    background-color: #AF33FF;
    color: white;
}
.heading
{
    text-align: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom: 7px solid red;
   
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(90,223,219,1) 100%);
}
.heading h1
{
    margin-top: 5%;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 6px 2px 6px red;
}

.GenrateMain
{
    
    display: grid;
    grid-template-columns:40% 1fr;
    border-bottom: 3px solid blue;
}


.genbtn
{
    text-align: center;
    display:grid;
    grid-template-rows: 1fr 1fr;
    padding: 2%;
}
.genbtn button
{
    margin-top: 12%;
    padding:0.7rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    width: 95%;
}
.disSudoku
{
    background-color: rgba(0, 0, 0, 0.342);
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1%;
    overflow: hidden;
}
.disSudoku input
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.SgameDiv
{
    text-align: center;
    
}
.SgameDiv #Play
{
    padding: 2rem;
    margin-top: 15%;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    border:none;
    cursor: pointer;
}
.ranInp
{
    font-size: 1rem;
    font-weight: bold;
}

.secondClass
{
    display: grid;
    grid-template-rows:15% 1fr 13%;
}
.divhome
{
    padding: 2%;
    
}
.divhome button
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    cursor: pointer;
    border-radius:25px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}


.notVisible
{
    display:none;

}
